@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    color: rgb(45, 1, 139);
}

.sec-1{
    background-color: rgb(27, 0, 86);
    color: white;
    display: inline-block;
    width: 100%;
}
.div-1{
    background-color: rgb(27, 0, 86);
    color: white;
    height: 17rem;
    display: flex;
    align-items: center;
}
#main-head{
    margin: 2rem 5rem;
    font-size: 50px;
    width: 14%;
}

.div1-p {
    font-size: 13px;
    margin-left: 0rem;
    margin-right: 2rem;
    line-height: 30px;
}
.div2-p {
    font-size: 13px;
    margin-left: 4rem;
    margin-right: -1rem;
    line-height: 30px;
}
.div3-p {
    font-size: 13px;
    margin-left: -1rem;
    margin-right: 2rem;
    line-height: 30px;
}
img {
    height: 8rem;
    border-radius: 13%;
}

#sec-1-img {
    height: 8rem;
    border-radius: 13%;
    margin-left: 30%;
}

#aboutsection {
    display: flex;
    align-items: center;
    margin: 6rem 0rem 6rem 0rem;
}
#skillssection {
    display: flex;
    align-items: center;
    margin: 6rem 0rem 6rem 0rem;
}
#projectssection {
    display: flex;
    align-items: center;
    margin: 6rem 0rem 6rem 0rem;
}

#hr-2 {
    width: 75%;
    margin-left: 12%;
}

.footer-p {
    font-size: 12px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: inline-block;
    margin: 0 rem;
    margin-left: 8rem;
}

footer {
    background-color: rgb(27, 0, 86);
    margin-top: 3rem;
    color: white;
}

.input-name{
    display: inline;
    color: rgb(27, 0, 86);
    background-color: white;
    margin: 1.5rem 0rem;
    width: 22rem;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-left: 2rem;
}
.input-email{
    display: inline;
    color: rgb(27, 0, 86);
    background-color: white;
    margin: 1.5rem 0rem;
    width: 22rem;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-left: 2rem;
}
.label-name{
    margin-left: 10%;
}
.label-email{
    margin-left: 5%;
}
.label-msg{
    margin-left: 10%;
}
.input-msg{
    display: inline;
    color: rgb(27, 0, 86);
    background-color: white;
    margin: 1.5rem 0rem;
    width: 67.5%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-left: 1%;
}
#contact-div-p{
    padding-left: 37%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
#contact-div{
    margin-bottom: 4rem;
    margin-top: 3rem;
}
.btn-sub{
    display: block;
    color: white;
    background-color: rgb(15, 0, 46);
    margin-left: 46%;
    height: 2.5rem;
    width: 5rem;
    border: 1 px solid black;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.btn-sub:hover{
    text-decoration: underline solid whitesmoke 1px;
    border: 2px solid #007bff;
}
#sec-skills{
    transform: rotate(90deg);
}
#sec-projects{
    transform: rotate(270deg);
}
#sec-about{
    transform: rotate(270deg);
}
a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 0.4rem;
    display: inline-block;
    margin:  0rem 2rem 0rem 2rem;
}
ul{
    margin-left: 6rem;
    margin-bottom: 6rem;
    padding-left: 20%;
}
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}